@font-face {
  font-family: 'Gowun Batang';
  src: url('https://fonts.googleapis.com/css2?family=Gowun+Batang') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
