@font-face {
  font-family: 'Gowun Batang';
  src: url('https://fonts.googleapis.com/css2?family=Gowun+Batang') format('woff2');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Seaweed Script';
  src: url('https://fonts.googleapis.com/css2?family=Seaweed+Script');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
